::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222831;
}

.workrow1{
  
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #10ac84;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #10ac84;
}

* {
    margin: 0;
}

body,
* {
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

h1{
  font-family: 'Dongle', sans-serif;  
}


body {
    background-color: #222831;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
}

.fname, .lname{
    /*text-shadow: 0 0 10px #fff, 0 0 12px #fff, 0 0 14px #e60073, 0 0 16px #e60073, 0 0 50px #e60073, 0 0 18px #e60073, 0 0 20px #e60073;*/
    opacity: 1;
    font-weight: 600;
    font-size: 16vw;
    line-height: 0.7em;

    color: #EEEEEE;
    text-align: left;
    position: relative;
}

.headersection{
  scroll-snap-align: start;
}
 .aboutsection, .worksection, .certificationsection, .certificationsection2{
    margin-left: 15vw;
    height: 100vh;
    scroll-snap-align: start;
}

.identifiers>h4 {
    font-family: 'Poppins', serif;
    opacity: 1;
    font-size: 20px;
    color: #bdc3c7;
    font-weight: 700;
}

#particles {
    background-attachment:scroll;
    cursor: pointer;
    position: absolute;
    height: 130vh;
}
.headercontent{
  width: fit-content;
  position: relative;
  left: 15vh;
  top: 30%;
}

.headercontent>h1, .headercontent>h4{
    mix-blend-mode:overlay;
    color: white;
}


.aboutMeText {
    
    color: #dfe6e9;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-right: 100px;
    text-align: justify;
}

.BottomRightImage {
    position: absolute;
    bottom: 400;
}

section{
    height: 100vh;
    color: white;
}


.worksection{
  margin-right: 15vw;
  height: 190vh;
}
.certificationsection{
    margin-right: 15vw;
    height: 170vh;
}
.certificationsection2{
    margin-right: 15vw;
    height: 230vh;
    
}
.certificationcontent{
  position: relative;
  top: 10%;
}

.certificationcontent2{
    position: relative;
    top: 5%;
}

.workTitle{
  margin-bottom: 2vh;
}
.workcontent{
    position: relative;
    top: 05%;
    margin-right: 10vh;
}
.aboutMeTitle{
    margin-top: 24vh;
}
.sectiontitle{
  font-size: 100px;
  line-height: 0.5em;
}
.aboutMeParagraph{
    font-family: 'Poppins', serif;
    text-align: justify;
    font-size: large;
}
.aboutMeImage{
    margin-top: 26vh;
}

[data-aos="example-anim1"] {
    width:0%;
    transition-property:width;
    transition-duration:2s;
  }
  [data-aos="example-anim1"].aos-animate {
    
    width:100%;
  }
  
  [data-aos="example-anim2"] {
    width:0%;
    transition-property:width;
    transition-duration:2s;
  }
  [data-aos="example-anim2"].aos-animate {
    
    width:100%;
  }
  [data-aos="example-anim3"] {
    width:0%;
    transition-property:width;
    transition-duration:2s;
  }
  [data-aos="example-anim3"].aos-animate {
    
    width:75%;
  }
  [data-aos="example-anim4"] {
    width:0%;
    transition-property:width;
    transition-duration:2s;
  }
  [data-aos="example-anim4"].aos-animate {
    
    width:70%;
  }

  [data-aos="example-anim5"] {
    width:0%;
    transition-property:width;
    transition-duration:2s;
  }
  [data-aos="example-anim5"].aos-animate {
    
    width:70%;
  }
  [data-aos="example-anim6"] {
    width:0%;
    transition-property:width;
    transition-duration:2s;
  }
  [data-aos="example-anim6"].aos-animate {
    
    width:70%;
  }
  [data-aos="example-anim7"] {
    width:0%;
    transition-property:width;
    transition-duration:2s;
  }
  [data-aos="example-anim7"].aos-animate {
    
    width:60%;
  }
  [data-aos="example-anim8"] {
    width:0%;
    transition-property:width;
    transition-duration:2s;
  }
  [data-aos="example-anim8"].aos-animate {
    
    width:55%;
  }

  [data-aos="example-anim9"] {
    width:0%;
    transition-property:width;
    transition-duration:2s;
  }
  [data-aos="example-anim9"].aos-animate {
    
    width:50%;
  }

  [data-aos="example-anim10"] {
    width:0%;
    transition-property:width;
    transition-duration:2s;
  }
  [data-aos="example-anim10"].aos-animate {
    
    width:40%;
  }
  
  
  .skilltitle{
    font-family: 'Dongle', sans-serif;  
    font-size: 50px;
    line-height: 0.3em;
  }
  