::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222831;
}

.workrow1{
    scroll-snap-align: center;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #10ac84;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #10ac84;
}

* {
    margin: 0;
}

body,
* {
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

h1{
  font-family: 'Dongle', sans-serif;  
}


body {
    background-color: #222831;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
}

.fname, .lname{
    /*text-shadow: 0 0 10px #fff, 0 0 12px #fff, 0 0 14px #e60073, 0 0 16px #e60073, 0 0 50px #e60073, 0 0 18px #e60073, 0 0 20px #e60073;*/
    opacity: 1;
    font-weight: 600;
    font-size: 14vw;
    line-height: 0.8em;

    color: #EEEEEE;
    text-align: left;
    position: relative;
}

.headersection{
  scroll-snap-align: start;
}
 .aboutsection, .worksection, .certificationsection{
    margin-left: 15vw;
    height: 100vh;
    scroll-snap-align: start;
}

.identifiers>h4 {
    font-family: 'Poppins', serif;
    opacity: 1;
    font-size: 20px;
    color: #bdc3c7;
    font-weight: 700;
}

#particles {
    background-attachment:scroll;
    cursor: pointer;
    position: absolute;
    height: 100vh;
}
.headercontent{
  width: fit-content;
  position: relative;
  left: 15vh;
  top: 30%;
}

.title {
    color: #dfe6e9;
    font-weight: 600;
    font-family: 'Vidaloka', serif;
}

.aboutMeText {
    color: #dfe6e9;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-right: 100px;
    text-align: justify;
}

.BottomRightImage {
    position: absolute;
    bottom: 400;
}

section{
    height: 100vh;
    color: white;
}


.worksection{
  margin-right: 15vw;
  height: 190vh;
}
.certificationsection{
 
}
.certificationcontent{
  position: relative;
  top: 10%;
}

.workTitle{
  margin-bottom: 2vh;
}
.workcontent{
    position: relative;
    top: 05%;
    margin-right: 10vh;
}
.aboutMeTitle{
    margin-top: 24vh;
}
.sectiontitle{
  font-size: 100px;
  line-height: 0.5em;
}
.aboutMeParagraph{
    font-family: 'Poppins', serif;
    text-align: justify;
    font-size: large;
}
.aboutMeImage{
    margin-top: 26vh;
}